h2,h6, input, .navbar,.nav-link,.nav-link-small, .btn{
    font-family: 'Bebas Neue', cursive;
    
  }
  .navbar{
    font-size: 24px;
  }
  .bg-black{
    background-color:#000;
  }
  a, .nav-link{
    color:#000;
  }
  .featured{
    color:#000;
  }
  .nav-item{
    font-size: 20px;
  }
  .btn{
    font-size: 18px;
  }
 
}
  @media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:20px; margin:0; }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}
